[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
yapf = "*"
pylint = "*"
line-profiler = "*"
memory-profiler = "*"

[requires]
python_version = "3"
# python_full_version = "3.11.1"
